/* The Modal (background) */
.modal {
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
    display: flex; 
    align-items: center;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    text-decoration: none;
    cursor: pointer;
  }

.icons a {
    cursor: pointer;
    color: black;
    padding-right: 10px;

    width: 10px;
    height: 10px;
}

.icons a:visited {
  color: black;
}

 .tools {
    color: grey;
    font-size: 13px;
  }


/* card stuff */
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: white;

  width: 250px;
  height: 362px;

  margin-top: 20px;
  margin-right: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.projects-container img {
  border-radius: 5px 5px 0 0;

  /* make images the same size */
  width:250px;
  height:250px;
  object-fit:cover; /* maintain aspect ratio of image */
}

.card-text {
  padding: 10px 20px;
}

.card-text h4 {
  margin: 0;
}

.card-text #category {
  color: grey;
  font-style: italic;
  font-size: 14px;
  margin-top: 0;
}

.indiv-card {
  display: flex;
  justify-content: flex-start;
}

.card-text button {
  border-radius: 8px;
  cursor: pointer;
  background-color: #0091bdbb;
  border: none;
  padding: 4px;
  width: 90px;
}

.card-text button:hover {
  background-color: #0091bd71;
}


@media only screen and (max-width: 768px) {
  .modal-content {
    width: 40%;
  }
}

@media only screen and (max-width: 500px) {
  .modal-content {
    width: 50%;
  }
}