.projects-page {
    background-color: #00475E;
    float: left;
    width: 100vw;
}

.projects-container {
    margin: 100px auto; /* margin top and bottom are 100px and auto centers the content horizontally */
    width: 60%; /* auto takes up 60% of the space */
}

.projects-container #title {
    color: #FCFF5F;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
}

.projects-container #grey-text {
    color: #939393;
    font-weight: bold;
    font-size: 33px;
    margin-top: -25px;
    text-align: center;
}

.project-item-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


@media only screen and (max-width: 768px) {
  .projects-container {
    width: 85%; 
  }
}