.projects-page {
    background-color: #00475E;

    float: left;
    width: 100vw;
}

.projects-container {
    margin: 100px auto; /* margin top and bottom are 100px and auto centers the content horizontally */
    width: 60%; /* auto takes up 60% of the space */
}

.projects-container #title {
    color: #FCFF5F;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
}

.projects-container #grey-text {
    color: #939393;
    font-weight: bold;
    font-size: 33px;
    margin-top: -25px;
    text-align: center;
}









/* card stuff */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: white;

    width: 250px;
    height: 362px;

    margin-top: 20px;
    margin-right: 20px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
 .projects-container img {
    border-radius: 5px 5px 0 0;

    /* make images the same size */
    width:250px;
    height:250px;
    object-fit:cover;
  }

  .card-text {
    padding: 2px 16px;
  }

  .indiv-card {
    display: flex;
    justify-content: flex-start;
  }
  .cards-container {
      /* display: flex; 
      flex-wrap: wrap;
      justify-content: flex-start; */

      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  }

  .card-text button {
    border-radius: 8px;
    cursor: pointer;
    background-color: #0091bdbb;
    border: none;
    padding: 4px;
    width: 90px;
    
  }

  .card-text button:hover {
    background-color: #0091bd71;
  }




@media only screen and (max-width: 768px) {
  .projects-container {
    width: 85%; 
}

}
