.about-page {
    background-color: black;
    color: white;

    /* get rid of the margins from div */
    float: left;
    width: 100vw;
}

.about-container {
    margin: 100px auto; /* margin top and bottom are 100px and auto centers the content horizontally */
    width: 50%; /* auto takes up 50% of the space */
}

.about-container #title {
    color: #FCFF5F;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2px;
}

.aligned {
    display: flex;
    align-items: center;
}

.about-page img {
    /* width: 30%;
    border-radius: 120px; */

    width:250px;
    height:250px;
    object-fit:cover;
    border-radius: 100%;
}

.aligned div {
    padding: 10px;
}

#name {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 0;
    white-space: nowrap;
}
#caption {
    font-size: 18px;
    margin-top: 0;
    color: #939393;
    white-space: nowrap;
}

#intro {
    font-size: 18px;
}

#intro a {
    color: #0090BD;
    cursor: pointer;
    text-decoration: none;
}

#intro ul {
    line-height: 31px;
    column-count: 2;
}



/* tablet */
@media only screen and (max-width: 768px) {
    .about-container {
        width: 70%;
    }

    /* .about-page img {
        width: 40%;
    } */
}


@media only screen and (max-width: 650px) {
    .about-container #title {
        text-align: center;
        font-size: 25px;
    }

    /* .about-page img {
        width: 50%;
    } */

    .aligned {
        flex-direction: column;
    }

    .aligned div {
        text-align: center;
        padding: 0;
    }

    #name {
        font-size: 45px;
        margin-top: 0;
    }

    #caption {
        font-size: 16px;
    }

    #intro {
        font-size: 16px;
    }
}

@media only screen and (max-width: 400px) {
    /* .about-page img {
        width: 70%;
    } */
}